<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="sidebar">

<div layout:fragment="contentForView" class="rightSide">

    <section id="dashboard" class="section page active">
        <div class="dashboard-stats">
            <div class="stat-card">
                <h3>Commandes en cours</h3>
                <p th:text="${dashboard.commandesEnCours}" class="stat-value">15</p>
            </div>
            <div class="stat-card">
                <h3>Chiffre d'affaires mensuel</h3>
                <p th:text="${dashboard.chiffreAffaireMensuel}+' FCFA'" class="stat-value">2.4M FCFA</p>
            </div>
            <div class="stat-card">
                <h3>Clients actuels</h3>
                <p th:text="${dashboard.clientsActifs}" class="stat-value">521</p>
            </div>
            <div class="stat-card">
                <h3>Stock climatiseurs</h3>
                <p th:text="${dashboard.stockClims}" class="stat-value">89</p>
            </div>
        </div>

        <div class="dashboard-stats">
            <div class="stat-card">
                <h3>Augmentation des commandes</h3>
                <p th:text="${dashboard.TauxCommande}" class="stat-value">15</p>
            </div>
            <div class="stat-card">
                <h3>Augmentation du chiffre d'Affaire</h3>
                <p th:text="${dashboard.TauxCA}" class="stat-value">2.4M FCFA</p>
            </div>
        </div>
    </section>
</div>
</html>