<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="sidebar">

<main layout:fragment="contentForView" class="main-content">
  <!-- Fournisseurs -->
  <section id="suppliers" class="page">
    <div class="page-header">
      <h1>Gestion des Fournisseurs</h1>
      <a th:href="@{/admin/fournisseurs/add}">
        <button  onclick="showModal('supplierModal')">Nouveau Fournisseur</button>
      </a>
    </div>
    <div class="suppliers-list">
      <table>
        <thead>
        <tr>
          <th>Société</th>
          <th>Référence</th>
          <th>Contact principal</th>
          <th>Téléphone</th>
          <th>Email</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody id="suppliersTableBody">
        <!-- Rempli dynamiquement -->
        <tr th:each="f:${fournisseurs}">
          <td th:text="${f.societe}">Société</td>
          <td th:text="${f.reference}">Référence</td>
          <td th:text="${f.contactPrincipal}">Contact principal</td>
          <td th:text="${f.telephone}">Téléphone</td>
          <td th:text="${f.email}">Email</td>
          <td >
            <a th:href="@{/admin/fournisseurs/details/{id}(id = ${f.id})}">
              <button  type="submit">Details</button>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
</main>
</html>
