<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
    <div layout:fragment="contentForView" class="template-content">
        <div class="big-title">
            <div class="contain">
                <p>Votre climatisation dès maintenant, à tout instant.</p>
                <p class="sub-title">Acheter et faites vous livrer un de nos climatiseurs en quelques clics dès maintenant</p>
            </div>
        </div>
        <div class="section">
            <div class="call-to-action">
                <div class="item">
                    <img th:src="@{/img/boite.png}" alt="">
                    <div class="item-text">
                        <p class="call-title">Livraison à domicile</p>
                        <p>Dakar et régions</p>
                    </div>
                </div>
                <div class="separate-bar"></div>
                <div class="item">
                    <img th:src="@{/img/boite.png}" alt="">
                    <div class="item-text">
                        <p class="call-title">Paiement sécurisé</p>
                        <p>Orange Money | Wave | Liquide</p>
                    </div>
                </div>
                <div class="separate-bar"></div>
                <div class="item">
                    <img th:src="@{/img/boite.png}" alt="">
                    <div class="item-text">
                        <p class="call-title">Assistance client</p>
                        <p>Disponible</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator">
            <div class="separator-item">
                <p>Affiner ma recherche</p>
            </div>
        </div>
        <div class="filter-section">

            <form class="filter-form"
                  th:method="post"
                  th:action="@{/client/home/filter}"
                  th:object="${filter}"
                  >
                <div>
                    <label for="categorie">Filtrer par categorie</label>
                    <select th:field="*{categorieID}" id="categorie" name="categorie">
                        <option value="0"></option>
                        <option th:each="categorie:${categories}"
                                th:text="${categorie.libelle}"
                                th:value="${categorie.id}"></option>
                    </select>
                </div>
                <div>
                    <label for="marque">Filtrer par marque</label>
                    <select th:field="*{marqueID}" id="marque" name="marque">
                        <option value="0"></option>
                        <option th:each="marque:${marques}"
                                th:text="${marque.libelle}"
                                th:value="${marque.id}"></option>
                    </select>
                </div>
                <div>
                    <label for="budget">Limite de budget <span>(FCFA)</span></label>
                    <input th:field="*{budget}" type="number" id="budget" name="budget">
                </div>
                <button type="submit">Go</button>
            </form>
            <div class="search-results">
                <h2>Résultats</h2>
                <div class="clim-list">
                    <div th:each="clim:${clims}" class="clim-item">
                        <img th:src="@{${clim.image}}" alt="clim">
                        <div>
                            <p th:text="${clim.libelle}" class="clim-lib"></p>
                            <p th:text="${clim.marque}"></p>
                            <div class="price">
                                <p th:text="${clim.prix}+' FCFA '"></p>
                                <span th:text="${clim.promotion}"></span>
                            </div>
                        </div>
                        <div class="actions">
                            <a th:href="@{/client/details/{id}(id = ${clim.id})}">
                                <button class="details">Details</button>
                            </a>
                            <a th:href="@{/client/panier/add/{id}(id = ${clim.id})}">
                                <button class="plus">+</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="separator">
            <div class="separtor-item">
                <p class="text">Promotions</p>
            </div>
        </div>
        <div class="clim-list list-alone">
                <div th:each="clim:${climsPromoted}" class="clim-item">
                    <img th:src="@{${clim.image}}" alt="clim">
                    <div>
                        <p th:text="${clim.libelle}" class="clim-lib"></p>
                        <p th:text="${clim.marque}"></p>
                        <div class="price">
                            <p th:text="${clim.prix}+' FCFA '"></p>
                            <span th:text="${clim.promotion}"></span>
                        </div>
                    </div>
                    <div class="actions">
                        <a th:href="@{/client/details/{id}(id = ${clim.id})}">
                            <button class="details">Details</button>
                        </a>
                        <a th:href="@{/client/panier/add/{id}(id = ${clim.id})}">
                            <button class="plus">+</button>
                        </a>
                    </div>
                </div>
        </div>
    </div>
</html>