<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
</body>
</html>
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<div layout:fragment="contentForView" class="template-content">
    <main>
        <div class="aside cart">
            <div class="banner">
                <!--
                <input onclick="selectAll()" type="button" name="all" id="all" value="X">
                -->
                <h2 th:text="'Tout sélectionner ('+${panier.nbre}+')'"></h2>
            </div>
            <div class="cart-content">
                <div class="li" th:each="ligne:${lignes}">
                    <!--
                    <input type="radio" name="" class="select">
                    -->
                    <div class="card">
                        <img th:src="@{${ligne.image}}" alt="image">
                        <div class="card-content">
                            <p class="card-content-title" th:text="${ligne.quantite}+'x '+${ligne.libelle}"></p>
                            <p th:text="'Montant : '+${ligne.montant}"><span>FCFA</span></p>
                            <div class="card-actions">
                                <a th:href="@{/client/details/{id}(id = ${ligne.id})}">Details</a>
                                <a th:href="@{/client/panier/remove/{id}(id = ${ligne.id})}" id="red" >Retirer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form class="aside payment"
              th:action="@{/commander}"
              th:method="post">
            <div class="summary" id="summary">
                <h2>Résumé de la commande</h2>
                <div class="cmd-item">
                    <p>Client :</p>
                    <p th:text="' '+${panier.client.nomComplet}"></p>
                </div>
                <div class="cmd-item">
                    <p>Telephone :</p>
                    <p th:text="' '+${panier.client.tel}"></p>
                </div>
                <div class="cmd-item">
                    <p>Adresse :</p>
                    <p th:text="' '+${panier.client.adresse}"></p>
                </div>
                <div class="cmd-item">
                    <p>Montant à payer :</p>
                    <p th:text="${panier.total}"> 300000 <span>FCFA</span></p>
                </div>
                <h3>Nous acceptons</h3>
                <select th:field="*{panier.modePaiement}" name="modePaiement" id="modPaiement">
                    <option value="0">Liquide</option>
                    <option value="1">Orange Money</option>
                    <option value="2">Wave</option>
                </select>
                <div class="pay-mode">
                    <img th:src="@{/img/paiement-par-carte-de-credit.png}" alt="">
                    <img th:src="@{/img/orange-money.jpg}" alt="">
                    <img th:src="@{/img/wave.png}" alt="">
                </div>
                <button>Commander</button>
            </div>
        </form>
    </main>
</div>
<script>
    selectAll();
</script>
</html>