<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<div layout:fragment="contentForView" class="template-content" >
<div class="search-container">
    <form class="search-form"
          th:method="post"
          th:action="@{/home/search}"
          th:object="${search}"
    >
        <input placeholder="Rechercher sur tout le site" th:field="*{keyword}" type="search">
        <button type="submit"><i data-lucide="search"></i></button>
    </form>
</div>

    <main>
        <section class="hero">
            <div class="hero-content">
                <h1>Votre climatisation dès maintenant, à tout instant.</h1>
                <p>Achetez et faites-vous livrer un de nos climatiseurs en quelques clics dès maintenant</p>
                <a href="">
                    <button class="cta-button"><img th:src="@{/img/WhatsApp.png}" alt=""> Nous contacter</button>
                </a>
            </div>
        </section>

        <section class="brands-carousel">
            <h2>Nos marques</h2>
            <div class="brand-grid">
                <div class="brand-item"><img th:src="@{/img/daikin.png}" alt="Daikin"></div>
                <div class="brand-item"><img th:src="@{/img/lenovo.png}" alt="Lenovo"></div>
                <div class="brand-item"><img th:src="@{/img/lg.png}" alt="LG"></div>
                <div class="brand-item"><img th:src="@{/img/panasonic.png}" alt="panasonic"></div>
                <div class="brand-item"><img th:src="@{/img/samsung.png}" alt="samsung"></div>
                <div class="brand-item"><img th:src="@{/img/toshiba.png}" alt="toshiba"></div>
                <!-- Ajoutez plus d'éléments si nécessaire -->
            </div>
        </section>

        <section class="features">
            <div class="feature">
                <i data-lucide="truck" class="icon"></i>
                <h3>Livraison & installation à domicile</h3>
                <p>Service rapide et professionnel</p>
            </div>
            <div class="feature">
                <i data-lucide="credit-card" class="icon"></i>
                <h3>Paiement sécurisé</h3>
                <p>Orange Money | Wave | Liquide</p>
            </div>
            <div class="feature">
                <i data-lucide="headphones" class="icon"></i>
                <h3>Assistance client</h3>
                <p>Disponible 7j/7</p>
            </div>
        </section>

        <section class="filters">
            <h2>Filtres de recherche</h2>
            <form th:method="post"
                  th:action="@{/home/filter}"
                  th:object="${filter}">
                <select th:field="*{marqueID}" id="brand" name="brand">
                    <option value="0">Marque</option>
                    <option th:each="marque:${marques}"
                            th:text="${marque.libelle}"
                            th:value="${marque.id}"></option>
                </select>
                <div>
                    <input placeholder="Limite de budget" th:field="*{budget}" type="number" id="budget" name="budget">
                </div>
                <select th:field="*{categorieID}" id="category" name="category">
                    <option value="0">Catégorie</option>
                    <option th:each="categorie:${categories}"
                            th:text="${categorie.libelle}"
                            th:value="${categorie.id}"></option>
                </select>
                <button type="submit">Filtrer</button>
            </form>
        </section>

        <section class="popular-searches">
            <h2>Recherches populaires</h2>
            <div class="tags">
                <span class="tag">LG Split 12000 BTU</span>
                <span class="tag">Samsung Inverter</span>
                <span class="tag">Daikin Économique</span>
                <span class="tag">Climatiseur Portable</span>
            </div>
        </section>

        <section class="promotions">
            <h2 th:text="${search_title}">Nos produits populaires</h2>
            <div  class="promo-list">
                <div th:each="cl:${clims}" class="promo-item">
                    <img th:src="@{${cl.image}}" alt="Promo Clim 1">
                    <h3 th:text="${cl.libelle}+' '+${cl.libelle}">LG Inverter</h3>
                    <p th:text="${cl.prix}+' FCFA '"></p>
                    <div class="product-actions">
                        <a th:href="@{/details/{id}(id = ${cl.id})}">
                            <button class="view-more"><i data-lucide="plus"></i> Voir plus</button>
                        </a>
                        <a th:href="@{/panier/add/{id}(id = ${cl.id})}">
                            <button class="add-to-cart"><i data-lucide="shopping-cart"></i> Ajouter au panier</button>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <section class="brands-carousel">
            <h2>Nous sommes en promooooo</h2>
            <div class="promo-list">
                <div th:each="clim:${climsPromoted}" class="promo-item">
                    <img th:src="@{${clim.image}}" alt="Climatiseur LG">
                    <h3 th:text="${clim.marque}+' '+${clim.libelle}"></h3>
                    <p th:text="${clim.prix}+' FCFA '"></p>
                    <span th:text="${clim.promotion}"></span>
                    <div class="product-actions">
                        <a th:href="@{/details/{id}(id = ${clim.id})}">
                            <button class="view-more"><i data-lucide="plus"></i> Voir plus</button>
                        </a>
                        <a th:href="@{/panier/add/{id}(id = ${clim.id})}">
                            <button class="add-to-cart"><i data-lucide="shopping-cart"></i> Ajouter au panier</button>
                        </a>
                    </div>
                </div>
                <!-- Ajoutez d'autres éléments du carrousel ici -->
            </div>
        </section>

        <section class="customer-reviews">
            <h2>Avis de nos clients</h2>
            <div class="review-grid">
                <div th:each="com:${comments}" class="review-item">
                    <div class="stars">★★★★★</div>
                    <p th:text="${com.content}">"Service excellent, installation rapide !"</p>
                    <span th:text="'Par '+${com.client}"></span>
                </div>
                <!-- Ajoutez d'autres avis ici -->
            </div>
        </section>

        <section class="news">
            <h2>Actualités</h2>
            <div class="news-grid">
                <div class="news-item">
                    <img th:src="@{img/installation.png}" alt="Installation récente">
                    <h3>Installation réussie chez M. Diop</h3>
                    <p>Notre équipe a récemment installé un système de climatisation central...</p>
                    <a href="#">Lire la suite</a>
                </div>
                <!-- Ajoutez d'autres actualités ici -->
            </div>
        </section>

        <section class="faq">
            <h2>FAQ</h2>
            <div class="faq-item">
                <h3>Combien de temps dure une installation ?</h3>
                <p>En général, l'installation d'un climatiseur split prend entre 3 et 5 heures.</p>
            </div>
            <div class="faq-item">
                <h3>Proposez-vous un service de maintenance ?</h3>
                <p>Oui, nous offrons un service de maintenance annuel pour tous nos climatiseurs.</p>
            </div>
            <div class="faq-item">
                <h3>Pourquoi vous consulter pour le choix de ma clim ?</h3>
                <p>Oui, nous offrons un service de maintenance annuel pour tous nos climatiseurs.</p>
            </div>
            <!-- Ajoutez d'autres questions/réponses ici -->
        </section>

    </main>

    <!-- Inclure le footer commun -->
    <!--#include virtual="footer.html" -->

</div>
</html>