<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panier</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
</body>
</html>
<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template"
>
<div layout:fragment="contentForView" class="template-content">
    <main>
        <div class="aside cart">
            <div class="banner">
                <h2 th:text="'Tout sélectionner ('+${panier.nbre}+')'"></h2>
            </div>
            <div class="cart-summary">
                <div class="li " th:each="ligne:${lignes}">
                    <div class="card">
                        <img th:src="@{${ligne.image}}" alt="image">
                        <div class="card-grid">
                            <p class="card-content-title" th:text="${ligne.quantite}+'x '+${ligne.libelle}"></p>
                            <p th:text="'Montant : '+${ligne.montant}"><span>FCFA</span></p>
                            <div class="card-actions">
                                <a th:href="@{/details/{id}(id = ${ligne.id})}">Details</a>
                                <a th:href="@{/panier/remove/{id}(id = ${ligne.id})}" id="red" >Retirer</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside payment">
            <div class="summary">
                <a th:href="@{/panier/commander}">
                    <button class="normal-button">Passer commande</button>
                </a>
            </div>
        </div>
    </main>
</div>
<script>
    selectAll();
</script>
</html>